@theme "/home/grendel/.config/rofi/simple-tokyonight.rasi"

configuration {
    modi: "calc,drun";
    show-icons: true;
    display-drun: "Apps";
    display-calc: "Calc";
    terminal: "alacritty";
    font: "FiraCode Nerd Font 14";
}
