@theme "~/.config/rofi/simple-tokyonight.rasi"

configuration {
    modi: "filebrowser,calc,drun";
    show-icons: true;
    display-drun: "Apps";
    display-calc: "Calc";
    terminal: "alacritty";
    font: "FiraCode Nerd Font 14";
    row-count: 25;
    fb-root: "~";
}
