# Build artifacts
.work/
isos/*.iso
install/openriot
source/openriot

# Test images (created by make isotest)
*.qcow2

# Package cache (downloaded separately)
.pkgcache/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
