[Desktop Entry]
Version=1.0
Name=🔍 Fuzzel
GenericName=Application Launcher
Comment=Simple application launcher for Wayland
Icon=emblem-search
Exec=fuzzel
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=launcher;app;menu;fuzzel;wofi;
