[Desktop Entry]
Version=1.0
Name=Terminal (Havoc)
GenericName=Terminal Emulator
Comment=Open a terminal window
Icon=utilities-terminal
Exec=havoc
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;
