[Desktop Entry]
Version=1.0
Type=Application
Name=Monero Wallet
Comment=Monero GUI Wallet
Exec=sh -c 'env QML2_IMPORT_PATH=/usr/local/lib/qt5/qml $HOME/.local/bin/monero-wallet-gui'
Icon=monero
Categories=Office;Finance;
Terminal=false
StartupNotify=true
