[Desktop Entry]
Version=1.0
Name=File Manager
GenericName=File Manager
Comment=Browse and manage files
Icon=folder
Exec=thunar
Terminal=false
Type=Application
Categories=FileManager;Utility;Core;
Keywords=file;manager;browser;thunar;
StartupWMClass=Thunar
